<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.ssm.bean.User">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nick" jdbcType="VARCHAR" property="nick" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="speakIntervalTime" jdbcType="VARCHAR" property="speakintervaltime" />
    <result column="forbidTalk" jdbcType="VARCHAR" property="forbidtalk" />
    <result column="createTime" jdbcType="VARCHAR" property="createtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, nick, email, mobile, level, speakIntervalTime, forbidTalk, 
    createTime
  </sql>
  <!--select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ssm.bean.User">
    insert into user (id, username, password, 
      nick, email, mobile, 
      level, speakIntervalTime, forbidTalk, 
      createTime)
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nick,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{level,jdbcType=VARCHAR}, #{speakintervaltime,jdbcType=VARCHAR}, #{forbidtalk,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.bean.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="nick != null">
        nick,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="speakintervaltime != null">
        speakIntervalTime,
      </if>
      <if test="forbidtalk != null">
        forbidTalk,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="speakintervaltime != null">
        #{speakintervaltime,jdbcType=VARCHAR},
      </if>
      <if test="forbidtalk != null">
        #{forbidtalk,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.bean.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nick != null">
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="speakintervaltime != null">
        speakIntervalTime = #{speakintervaltime,jdbcType=VARCHAR},
      </if>
      <if test="forbidtalk != null">
        forbidTalk = #{forbidtalk,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.bean.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      nick = #{nick,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      speakIntervalTime = #{speakintervaltime,jdbcType=VARCHAR},
      forbidTalk = #{forbidtalk,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update-->
  <insert id="insertBatch" parameterType="java.util.List">
    insert into user (id,username) values
    <foreach collection="list" item="u" separator=",">
    	(#{u.id},#{u.username})
    </foreach>
  </insert>
</mapper>